#! /usr/bin/make -f
# debian/rules for ncollectd

export DH_VERBOSE=1

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
include /usr/share/dpkg/architecture.mk

export DEB_BUILD_MAINT_OPTIONS=hardening=+all

BUILDDIR = obj-$(DEB_HOST_MULTIARCH)

CPPFLAGS = $(shell dpkg-buildflags --get CPPFLAGS)
CFLAGS = $(shell dpkg-buildflags --get CFLAGS)
CXXFLAGS = $(shell dpkg-buildflags --get CXXFLAGS)

# Upstream defaults to ${sysconfdir}/ncollectd.conf. Setting ${sysconfdir} to
# /etc/ncollectd would be wrong though.
# CPPFLAGS += -UCONFIGFILE
# CPPFLAGS += -DCONFIGFILE='\"/etc/ncollectd/ncollectd.conf\"'

LDFLAGS = $(shell dpkg-buildflags --get LDFLAGS)

CMAKE_FLAGS = -DENABLE_ALL_PLUGINS:BOOL=ON  -DCMAKE_INSTALL_LIBDIR=lib \
	-DPLUGIN_GPU_NVIDIA:BOOL=OFF \
	-DPLUGIN_GPU_INTEL:BOOL=OFF \
	-DPLUGIN_MQ:BOOL=OFF \
	-DPLUGIN_DB2:BOOL=OFF \
	-DPLUGIN_ORACLE:BOOL=OFF \
	-DPLUGIN_SLURM:BOOL=OFF \
	-DPLUGIN_DCPMM:BOOL=OFF \
	-DPLUGIN_ZONE:BOOL=OFF \
	-DPLUGIN_LPAR:BOOL=OFF \
	-DPLUGIN_WLM:BOOL=OFF \
	-DPLUGIN_WPAR:BOOL=OFF \
	-DPLUGIN_HBA:BOOL=OFF \
	-DPLUGIN_IPSTATS:BOOL=OFF \
	-DPLUGIN_PF:BOOL=OFF \
	-DPLUGIN_NETSTAT_UDP:BOOL=OFF \
	-DPLUGIN_PF:BOOL=OFF \
	-DPLUGIN_ATS:BOOL=ON \
	-DPLUGIN_APACHE:BOOL=ON \
	-DPLUGIN_BIND:BOOL=ON \
	-DPLUGIN_CEPH:BOOL=ON \
	-DPLUGIN_CERT:BOOL=ON \
	-DPLUGIN_CHRONY:BOOL=ON \
	-DPLUGIN_CUPS:BOOL=ON \
	-DPLUGIN_DNS:BOOL=ON \
	-DPLUGIN_DNSMASQ:BOOL=ON \
	-DPLUGIN_DS389:BOOL=ON \
	-DPLUGIN_EXEC:BOOL=ON \
	-DPLUGIN_FCGI:BOOL=ON \
	-DPLUGIN_GPS:BOOL=ON \
	-DPLUGIN_HAPROXY:BOOL=ON \
	-DPLUGIN_HTTP:BOOL=ON \
	-DPLUGIN_INFO:BOOL=ON \
	-DPLUGIN_JOLOKIA:BOOL=ON \
	-DPLUGIN_KAFKA:BOOL=ON \
	-DPLUGIN_KEA:BOOL=ON \
	-DPLUGIN_KEEPALIVED:BOOL=ON \
	-DPLUGIN_MEMCACHED:BOOL=ON \
	-DPLUGIN_MONGODB:BOOL=ON \
	-DPLUGIN_MOSQUITTO:BOOL=ON \
	-DPLUGIN_MYSQL:BOOL=ON \
	-DPLUGIN_NAGIOS_CHECK:BOOL=ON \
	-DPLUGIN_NGINX:BOOL=ON \
	-DPLUGIN_NGINX_VTS:BOOL=ON \
	-DPLUGIN_NSD:BOOL=ON \
	-DPLUGIN_NTPD:BOOL=ON \
	-DPLUGIN_NUT:BOOL=ON \
	-DPLUGIN_ODBC:BOOL=ON \
	-DPLUGIN_OLSRD:BOOL=ON \
	-DPLUGIN_OPENLDAP:BOOL=ON \
	-DPLUGIN_OPENVPN:BOOL=ON \
	-DPLUGIN_PCAP:BOOL=ON \
	-DPLUGIN_PING:BOOL=ON \
	-DPLUGIN_POSTGRESQL:BOOL=ON \
	-DPLUGIN_PROXYSQL:BOOL=ON \
	-DPLUGIN_PDNS:BOOL=ON \
	-DPLUGIN_RECURSOR:BOOL=ON \
	-DPLUGIN_REDIS:BOOL=ON \
	-DPLUGIN_ROUTEROS:BOOL=ON \
	-DPLUGIN_SIGROK:BOOL=ON \
	-DPLUGIN_SNMP:BOOL=ON \
	-DPLUGIN_SQUID:BOOL=ON \
	-DPLUGIN_STATSD:BOOL=ON \
	-DPLUGIN_TABLE:BOOL=ON \
	-DPLUGIN_TAIL:BOOL=ON \
	-DPLUGIN_UNAME:BOOL=ON \
	-DPLUGIN_UNBOUND:BOOL=ON \
	-DPLUGIN_VARNISH:BOOL=ON \
	-DPLUGIN_ZOOKEEPER:BOOL=ON \
	-DPLUGIN_LOG_FILE:BOOL=ON \
	-DPLUGIN_LOG_GELF:BOOL=ON \
	-DPLUGIN_LOG_SYSLOG:BOOL=ON \
	-DPLUGIN_NOTIFY_EMAIL:BOOL=ON \
	-DPLUGIN_NOTIFY_EXEC:BOOL=ON \
	-DPLUGIN_NOTIFY_NAGIOS:BOOL=ON \
	-DPLUGIN_NOTIFY_SNMP:BOOL=ON \
	-DPLUGIN_LUA:BOOL=ON \
	-DPLUGIN_PERL:BOOL=ON \
	-DPLUGIN_PYTHON:BOOL=ON \
	-DPLUGIN_MATCH_CSV:BOOL=ON \
	-DPLUGIN_MATCH_JSONPATH:BOOL=ON \
	-DPLUGIN_MATCH_REGEX:BOOL=ON \
	-DPLUGIN_MATCH_TABLE:BOOL=ON \
	-DPLUGIN_MATCH_XPATH:BOOL=ON \
	-DPLUGIN_WRITE_AMQP:BOOL=ON \
	-DPLUGIN_WRITE_AMQP1:BOOL=ON \
	-DPLUGIN_WRITE_EXPORTER:BOOL=ON \
	-DPLUGIN_WRITE_FILE:BOOL=ON \
	-DPLUGIN_WRITE_HTTP:BOOL=ON \
	-DPLUGIN_WRITE_KAFKA:BOOL=ON \
	-DPLUGIN_WRITE_LOG:BOOL=ON \
	-DPLUGIN_WRITE_MONGODB:BOOL=ON \
	-DPLUGIN_WRITE_MQTT:BOOL=ON \
	-DPLUGIN_WRITE_POSTGRESQL:BOOL=ON \
	-DPLUGIN_WRITE_REDIS:BOOL=ON \
	-DPLUGIN_WRITE_TCP:BOOL=ON \
	-DPLUGIN_WRITE_UDP:BOOL=ON \
	-DPLUGIN_CPU:BOOL=ON \
	-DPLUGIN_CPUFREQ:BOOL=ON \
	-DPLUGIN_DF:BOOL=ON \
	-DPLUGIN_DISK:BOOL=ON \
	-DPLUGIN_INTERFACE:BOOL=ON \
	-DPLUGIN_LOAD:BOOL=ON \
	-DPLUGIN_MEMORY:BOOL=ON \
	-DPLUGIN_PROCESSES:BOOL=ON \
	-DPLUGIN_SWAP:BOOL=ON \
	-DPLUGIN_TCPCONNS:BOOL=ON \
	-DPLUGIN_UPTIME:BOOL=ON \
	-DPLUGIN_USERS:BOOL=ON \
	-DPLUGIN_ARP:BOOL=ON \
	-DPLUGIN_ARPCACHE:BOOL=ON \
	-DPLUGIN_AVCCACHE:BOOL=ON \
	-DPLUGIN_BATTERY:BOOL=ON \
	-DPLUGIN_BCACHE:BOOL=ON \
	-DPLUGIN_BONDING:BOOL=ON \
	-DPLUGIN_BTRFS:BOOL=ON \
	-DPLUGIN_BUDDYINFO:BOOL=ON \
	-DPLUGIN_CGROUPS:BOOL=ON \
	-DPLUGIN_CIFS:BOOL=ON \
	-DPLUGIN_CONNTRACK:BOOL=ON \
	-DPLUGIN_CONTEXTSWITCH:BOOL=ON \
	-DPLUGIN_CPUSLEEP:BOOL=ON \
	-DPLUGIN_DMI:BOOL=ON \
	-DPLUGIN_DOCKER:BOOL=ON \
	-DPLUGIN_DRBD:BOOL=ON \
	-DPLUGIN_EDAC:BOOL=ON \
	-DPLUGIN_ENTROPY:BOOL=ON \
	-DPLUGIN_ETHSTAT:BOOL=ON \
	-DPLUGIN_FCHOST:BOOL=ON \
	-DPLUGIN_FHCOUNT:BOOL=ON \
	-DPLUGIN_FILECOUNT:BOOL=ON \
	-DPLUGIN_FSCACHE:BOOL=ON \
	-DPLUGIN_HUGEPAGES:BOOL=ON \
	-DPLUGIN_INFINIBAND:BOOL=ON \
	-DPLUGIN_IPC:BOOL=ON \
	-DPLUGIN_IPMI:BOOL=ON \
	-DPLUGIN_IPTABLES:BOOL=ON \
	-DPLUGIN_IPVS:BOOL=ON \
	-DPLUGIN_IRQ:BOOL=ON \
	-DPLUGIN_KSM:BOOL=ON \
	-DPLUGIN_LOCKS:BOOL=ON \
	-DPLUGIN_LOG_SYSTEMD:BOOL=ON \
	-DPLUGIN_LVM:BOOL=ON \
	-DPLUGIN_MD:BOOL=ON \
	-DPLUGIN_MEMINFO:BOOL=ON \
	-DPLUGIN_MMC:BOOL=ON \
	-DPLUGIN_MODBUS:BOOL=ON \
	-DPLUGIN_NFACCT:BOOL=ON \
	-DPLUGIN_NFCONNTRACK:BOOL=ON \
	-DPLUGIN_NFS:BOOL=ON \
	-DPLUGIN_NFSD:BOOL=ON \
	-DPLUGIN_NFTABLES:BOOL=ON \
	-DPLUGIN_NUMA:BOOL=ON \
	-DPLUGIN_PODMAN:BOOL=ON \
	-DPLUGIN_PRESSURE:BOOL=ON \
	-DPLUGIN_PROTOCOLS:BOOL=ON \
	-DPLUGIN_QUOTA:BOOL=ON \
	-DPLUGIN_RAPL:BOOL=ON \
	-DPLUGIN_RTCACHE:BOOL=ON \
	-DPLUGIN_SCHEDSTAT:BOOL=ON \
	-DPLUGIN_SCRAPER:BOOL=ON \
	-DPLUGIN_SENSORS:BOOL=ON \
	-DPLUGIN_SERIAL:BOOL=ON \
	-DPLUGIN_SLABINFO:BOOL=ON \
	-DPLUGIN_SMART:BOOL=ON \
	-DPLUGIN_SOCKSTAT:BOOL=ON \
	-DPLUGIN_SOFTIRQ:BOOL=ON \
	-DPLUGIN_SOFTNET:BOOL=ON \
	-DPLUGIN_SYNPROXY:BOOL=ON \
	-DPLUGIN_TAPE:BOOL=ON \
	-DPLUGIN_TC:BOOL=ON \
	-DPLUGIN_TIMEX:BOOL=ON \
	-DPLUGIN_THERMAL:BOOL=ON \
	-DPLUGIN_UBI:BOOL=ON \
	-DPLUGIN_UUID:BOOL=ON \
	-DPLUGIN_VMEM:BOOL=ON \
	-DPLUGIN_WIREGUARD:BOOL=OFF \
	-DPLUGIN_WIRELESS:BOOL=ON \
	-DPLUGIN_XFRM:BOOL=ON \
	-DPLUGIN_XFS:BOOL=ON \
	-DPLUGIN_ZFS:BOOL=ON \
	-DPLUGIN_ZONEINFO:BOOL=ON \
	-DPLUGIN_ZRAM:BOOL=ON \
	-DPLUGIN_ZSWAP:BOOL=ON \
	-DPLUGIN_APCUPS:BOOL=ON \
	-DPLUGIN_BEANSTALKD:BOOL=ON \
	-DPLUGIN_FREERADIUS:BOOL=ON \
	-DPLUGIN_MSSQL:BOOL=ON \
	-DPLUGIN_PGBOUNCER:BOOL=ON \
	-DPLUGIN_POSTFIX:BOOL=ON \
	-DPLUGIN_RESCTRL:BOOL=ON \
	-DPLUGIN_SENDMAIL:BOOL=ON \
	-DPLUGIN_SYSTEMD:BOOL=ON \
	-DPLUGIN_JOURNAL:BOOL=ON

ifeq ($(DEB_HOST_ARCH_OS),sh4)
	CMAKE_FLAGS += -DPLUGIN_VIRT:BOOL=OFF
else ifeq ($(DEB_HOST_ARCH_OS),ia64)
	CMAKE_FLAGS += -DPLUGIN_VIRT:BOOL=OFF
else ifeq ($(DEB_HOST_ARCH_OS),alpha)
	CMAKE_FLAGS += -DPLUGIN_VIRT:BOOL=OFF
else
	CMAKE_FLAGS += -DPLUGIN_VIRT:BOOL=ON
endif

ifeq (,$(filter amd64 arm64 armhf, $(DEB_HOST_ARCH)))
	CMAKE_FLAGS += -DPLUGIN_XENCPU:BOOL=OFF
else
	CMAKE_FLAGS += -DPLUGIN_XENCPU:BOOL=ON
endif

ifeq (,$(filter amd64 i386, $(DEB_HOST_ARCH)))
	CMAKE_FLAGS += -DPLUGIN_TURBOSTAT:BOOL=OFF \
		-DPLUGIN_INTEL_RDT:BOOL=OFF
else
	CMAKE_FLAGS += -DPLUGIN_TURBOSTAT:BOOL=ON \
		-DPLUGIN_INTEL_RDT:BOOL=ON
endif

ifneq (,$(filter hppa sparc, $(DEB_HOST_ARCH)))
	CMAKE_FLAGS += -DPLUGIN_JAVA:BOOL=OFF
else
	CMAKE_FLAGS += -DPLUGIN_JAVA:BOOL=ON
endif

%:
	dh $@ --without autoreconf

override_dh_auto_clean:
	dh_auto_clean -B $(BUILDDIR)

override_dh_auto_configure:
	dh_auto_configure -S cmake -B $(BUILDDIR) -- $(CMAKE_FLAGS)

override_dh_auto_test:
#	dh_auto_test

override_dh_auto_install:
	rm -f debian/tmp/etc/ncollectd.conf
	dh_auto_install -B $(BUILDDIR)

override_dh_strip:
	dh_strip --dbgsym-migration='ncollectd-dbg (<< 0.0.0-1~)'
	dh_strip_nondeterminism -pncollectd

override_dh_shlibdeps:
	dh_shlibdeps -a -Nncollectd

override_dh_installsystemd:
	dh_installsystemd -pncollectd --name=ncollectd

override_dh_installinit:
	dh_installinit -pncollectd --name=ncollectd

override_dh_installdocs:
#	none

